save-exact=true
always-auth = true
_auth = YmlzaGFsLnBhbnRoYUByZXdlLWRpZ2l0YWwuY29tOkFQNkt3emM0TktYTDVGWVVSeWl4bm8yQVNucg==
email = dev-team-thunderbirds@rewe-digital.com
registry = https://artifactory.rewe-digital.com/artifactory/api/npm/npm/
